{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-image: url({% static 'hello/images/1.jpg' %});
        background-size:100%;background-repeat:no-repeat;">
<h2>This afternoon, I went to Quancheng Square in Jinan, </h2>
<h2>thinking of shooting you a video to welcome you to China, </h2>
<h2>but because there were many people in the square,</h2>
<h2>it was not easy to shoot, </h2>
<h2>and my spoken English was still not practiced well after I practiced for a few days,</h2>
<h2>so I could not send you my blessings, and I apologize :(</h2>
<h2>Therefore, I developed this website specifically for you, which is my little gift</h2>
<center>
    <h1><a href="hello3/">Read more</a></h1>
</center>
</body>
</html>