{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-image: url({% static 'hello/images/1.jpg' %});
        background-size:100%;background-repeat:no-repeat;">
<center>
<h2>I'm looking forward to your comming to China and have fun with me,</h2>
<h2>maybe i can take you around Laiwu, take you to play VR games in my home</h2>
<h2> </h2>
<h2>By the way, I am very grateful for your English practice with me yesterday,</h2>
<h2>you should be the first foreigner to communicate with me :)</h2>
<h2></h2>
<h2></h2>
</center>

<center>
    <h1><a href="hello4/">Read more</a></h1>
</center>
</body>
</html>